<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"  referrerpolicy="no-referrer">
    <style>
        .form-check{margin-left: -1.5em;}
        .sprite-overlay-idle{              background-color: rgba(111,255,147,0.7); }
        .sprite-overlay-run{               background-color: rgba(255,255,  0,0.7); }
        .sprite-overlay-jump{              background-color: rgba(  0,255,255,0.7); }
        .sprite-overlay-in_air_up{         background-color: rgba(200,255,  0,0.7); }
        .sprite-overlay-in_air_down{       background-color: rgba(113,138, 23,0.7); }
        .sprite-overlay-hit{               background-color: rgba(200,  0,255,0.7); }
        .sprite-overlay-dodge{             background-color: rgba(100,100,100,0.7); }
        .sprite-overlay-hang{              background-color: rgba(0  , 129, 0,0.7); }
        .sprite-overlay-attack_neutral{    background-color: rgba(255,  0,  0,0.7); }
        .sprite-overlay-attack_side{       background-color: rgba(255, 80, 80,0.7); }
        .sprite-overlay-attack_up{         background-color: rgba(255,140,140,0.7); }
        .sprite-overlay-attack_down{       background-color: rgba(255,200,200,0.7); }
        .sprite-overlay-special_neutral{   background-color: rgba(  0,  0,255,0.7); }
        .sprite-overlay-special_side{      background-color: rgba( 80, 80,255,0.7); }
        .sprite-overlay-special_up{        background-color: rgba(140,140,255,0.7); }
        .sprite-overlay-special_down{      background-color: rgba(200,200,255,0.7); }
        .sprite-icon{
            width:5px;
            height:5px;
            display:inline-block;
            border:1px solid black;
            margin-bottom: 3px;
        }
    </style>
</head>

<body>

    <div class="container-fluid" id="vue">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div>
                                <span class="btn btn-link" v-on:click="openJsonFile" >
                                [{{character.ch_name}}]
                                </span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'idle'?'text-muted':'']" v-on:click="selectAction('idle')">
                                <span class="sprite-icon sprite-overlay-idle"></span>
                                Idle
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'run'?'text-muted':'']" v-on:click="selectAction('run')">
                                <span class="sprite-icon sprite-overlay-run"></span>
                                Run
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'jump'?'text-muted':'']" v-on:click="selectAction('jump')">
                                <span class="sprite-icon sprite-overlay-jump"></span>
                                Jump
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'in_air_up'?'text-muted':'']" v-on:click="selectAction('in_air_up')">
                                <span class="sprite-icon sprite-overlay-in_air_up"></span>
                                In air up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'in_air_down'?'text-muted':'']" v-on:click="selectAction('in_air_down')">
                                <span class="sprite-icon sprite-overlay-in_air_down"></span>
                                In air down
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'hit'?'text-muted':'']" v-on:click="selectAction('hit')">
                                <span class="sprite-icon sprite-overlay-hit"></span>
                                Hit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'dodge'?'text-muted':'']" v-on:click="selectAction('dodge')">
                                <span class="sprite-icon sprite-overlay-dodge"></span>
                                Dodge
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'hang'?'text-muted':'']" v-on:click="selectAction('hang')">
                                <span class="sprite-icon sprite-overlay-hang"></span>
                                Hang
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'attack_neutral'?'text-muted':'']" v-on:click="selectAction('attack_neutral')">
                                <span class="sprite-icon sprite-overlay-attack_neutral"></span>
                                A Neutral
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  v-bind:class="[selected == 'attack_side'?'text-muted':'']" v-on:click="selectAction('attack_side')">
                                <span class="sprite-icon sprite-overlay-attack_side"></span>
                                A Side
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="[selected == 'attack_up'?'text-muted':'']" v-on:click="selectAction('attack_up')">
                                <span class="sprite-icon sprite-overlay-attack_up"></span>
                                A Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="[selected == 'attack_down'?'text-muted':'']" v-on:click="selectAction('attack_down')">
                                <span class="sprite-icon sprite-overlay-attack_down"></span>
                                A Down
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="[selected == 'special_neutral'?'text-muted':'']" v-on:click="selectAction('special_neutral')">
                                <span class="sprite-icon sprite-overlay-special_neutral"></span>
                                B Neutral
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="[selected == 'special_side'?'text-muted':'']" v-on:click="selectAction('special_side')">
                                <span class="sprite-icon sprite-overlay-special_side"></span>
                                B Side
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-bind:class="[selected == 'special_up'?'text-muted':'']" v-on:click="selectAction('special_up')">
                                <span class="sprite-icon sprite-overlay-special_up"></span>
                                B Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " v-bind:class="[selected == 'special_down'?'text-muted':'']" v-on:click="selectAction('special_down')">
                                <span class="sprite-icon sprite-overlay-special_down"></span>
                                B Down
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard
                        <button type="button" v-on:click="saveJsonFile"  class="btn btn-outline-primary">
                            <i class="fas fa-save btn-sm"></i>
                        </button> </h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="form-check form-switch">
                            <input class="form-check-input" v-model="onion" type="checkbox" id="iptOnion">
                            <label class="form-check-label" for="iptOnion">Onion</label>
                          </div>
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary"  v-on:click="selectFrame(selectedFrame-1);">Prev</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="selectFrame(selectedFrame+1);">Next</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="isPlaying = !isPlaying">Play</button>
                    </div>
                </div>

                <div class="container">
                    <div class="row ">
                        <div class="col-md-7">
                            <canvas id="canvas" width="480" height="270" style="width:100%"></canvas>
                        </div>
                        <div class="col-md-5">

                            <div v-if="selectedFrame>-1">
                                <h4>Hitboxes</h4>
                                <div class="container">
                                    <div class="row ">
                                        <div class="col">X</div>
                                        <div class="col">Y</div>
                                        <div class="col">Size</div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col"><input v-model="iptHitboxX" class="form-control form-control-sm"></div>
                                        <div class="col"><input v-model="iptHitboxY" class="form-control form-control-sm"></div>
                                        <div class="col"><input v-model="iptHitboxSize" class="form-control form-control-sm"></div>
                                        <div class="col">
                                            <button type="button" v-on:click="addHitbox()"  class="btn btn-outline-primary">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" v-for="(hitbox,idx) in character.animations[selected][selectedFrame].hitboxes">
                                        <div class="col">
                                            <div class="form-check">
                                                <input type="radio" name="rd-select-hitbox" class="form-check-input" 
                                                        v-bind:value="idx" 
                                                        v-model="selectedHitbox"
                                                        v-on:change="selectHitbox(idx)"/>
                                                <input v-model.number="hitbox.x" class="form-control form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col"><input v-model.number="hitbox.y" class="form-control form-control-sm"></div>
                                        <div class="col"><input v-model.number="hitbox.size" class="form-control form-control-sm"></div>
                                        <div class="col">
                                            <button type="button" v-on:click="removeHitbox(idx)"  class="btn btn-outline-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="selectedHitbox>-1">
                                        <div class="row">
                                            <div class="col col-md-6">Dmg: 
                                                <input v-model.number="character.animations[selected][selectedFrame].hitboxes[selectedHitbox].damage" 
                                                class="form-control form-control-sm">
                                            </div>
                                            <div class="col col-md-6">Angle:
                                                <input v-model.number="character.animations[selected][selectedFrame].hitboxes[selectedHitbox].angle" 
                                                class="form-control form-control-sm">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-6">Base KB:
                                                <input v-model.number="character.animations[selected][selectedFrame].hitboxes[selectedHitbox].baseKnockback" 
                                                class="form-control form-control-sm">
                                            </div>
                                            <div class="col col-md-6">Scale KB:
                                                <input v-model.number="character.animations[selected][selectedFrame].hitboxes[selectedHitbox].scaling" 
                                                class="form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>  

                <h2>Frames
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdSprite">
                    <i class="fas fa-image"></i>
                    Sprite
                  </button>
                </h2>
                <div class="container">
                    <div class="row">
                        <div class="col">X</div>
                        <div class="col">Y</div>
                        <div class="col">Width</div>
                        <div class="col">Height</div>
                        <div class="col">A X</div>
                        <div class="col">A Y</div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"><input v-model="iptFrameX" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model="iptFrameY" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model="iptFrameWidth"
                            v-on:change="if(iptFrameAnchorX==0){iptFrameAnchorX=iptFrameWidth/2}"
                             class="form-control form-control-sm"></div>
                        <div class="col"><input v-model="iptFrameHeight" 
                            v-on:change="if(iptFrameAnchorY==0){iptFrameAnchorY=iptFrameHeight/2}"
                            class="form-control form-control-sm"></div>
                        <div class="col"><input v-model="iptFrameAnchorX" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model="iptFrameAnchorY" class="form-control form-control-sm"></div>
                        <div class="col">
                            <button type="button" v-on:click="addFrame()"  class="btn btn-outline-primary">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" v-for="(frame,idx) in character.animations[selected]">
                        <div class="col">
                            <div class="form-check">
                                <input type="radio" name="rd-select-frame" class="form-check-input" 
                                        v-bind:value="idx" 
                                        v-model="selectedFrame"
                                        v-on:change="selectFrame(idx)"/>
                                <input v-model.number="frame.x" class="form-control form-control-sm"></div>
                            </div>
                        <div class="col"><input v-model.number="frame.y" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model.number="frame.width" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model.number="frame.height" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model.number="frame.anchorX" class="form-control form-control-sm"></div>
                        <div class="col"><input v-model.number="frame.anchorY" class="form-control form-control-sm"></div>
                        <div class="col">
                            <button type="button" v-on:click="removeFrame(idx)"  class="btn btn-outline-danger">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>



        <div class="modal" tabindex="-1" id="mdSprite">

            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Sprite</h5>  
                    <input type="file" id="iptFileSprite"  class="form-control form-control-sm"  @change="selectSprite"> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <canvas id="cnvSpriteSheet"
                    v-on:mousedown="$event.target.isdragging = true"
                    v-on:mousemove="moveSpriteFrame($event)"
                    v-on:mouseup="$event.target.isdragging = false"
                    ></canvas>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                  </div>
                </div>
              </div>
            </div>
        

    </div>



    <script type="module">
        import Editor from "./editor/editor.mjs";
        window.editor = new Editor();
        window.onload = window.editor.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>